*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-logo{
  width: 100px;
  height: 80px;
}
.nav-bar{
  padding: 10px ;
  width: 100%;
  height: 80px;
  background-color: antiquewhite;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipie-recommendation{
  width: 400px;
  border: 1px solid black;
  position: absolute;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 2px;
  border-radius: 10px;
}
.span-row:hover{
 background-color: rgb(185, 141, 87);
}

.input-box{
  padding: 10px;
  width: 400px;
  border-radius: 10px;
  border: none;
  position: relative;
}
.user-logo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.body-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recipie-Card{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 3px;
}

.recipie-div{
  width: 100%;
  height: 270px;
}

.recipie-img{
  width: 100%;
  height: 100%;
  
}

.recipie-name{
  text-align: 'center';
}
.btn-div{
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}
.pagination-div{
  width: full;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.num-container{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
